.input{
    margin-bottom: 0.5rem;
    width: 100%;
}

.inputContainer{
    margin-left: 1rem;
}
.titleInput{
    margin-bottom: 0;
    font-weight: 500;
}
.formContainer{
    display: grid;
    grid-template-columns: 50% 50%; 
}
.checkbox{
    width: 20px;
    height: 25px;
}